# pip install click -i https://pypi.tuna.tsinghua.edu.cn/simple
loguru >= 0.7.2
pytest >= 7.1.3
pytest_mock >= 3.11.1
DrissionPage >= 4.0.3.4

########################################################################
# model
# transformers    # hugging face
pyparsing >= 3.0.9
